.page-header {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    /* width: 100%; */
}

.btn {
    margin: 15px;
}

form {
    margin-top: 25px;
}

table{
    border: 1px;
    border-color: black;
    border-style: solid;
}